* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.icon-menu-item
{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  border-radius: 6px;
 
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

.pagename {
    
    font-size: 35px;    
}
.logo-social 
{
    display: flex;
    width: 8%;
    
    justify-content: space-between;
}
.wrapper-icon-pagename {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    cursor: pointer;
}
.logo-social-item {
    width: 20px;
    cursor: pointer;
    
}
.logo-social-item:hover {
    background-color: black;
}
.banner {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    height: 400px;
    margin-top: 3%;
}
.banner-items {
    
    justify-content: space-evenly;
    width: 650px;
    margin-right: 10%;
}
.banner-item-news {
    
    margin-top: 5%;
    border: 1px solid #dff3e2;
    color: #19a52c;
    background-color: #dff3e2;
    width: 80px;
    margin-left: 2%;
    padding: 5px;
    text-align: center;
    
}
.banner-item-title {
    
    margin-top: 3%;
    font-size: xx-large;
    font-family: 'Raleway',sans-serif;
    
}
.banner-item-text {
   
    margin-top: 3%;
}
.banner-item-button {
    text-align: center;
    margin-top: 8%;
    color: #fff;
    background: #2196f3;
    width: 250px;
    padding: 10px;
    border: solid #2196f3 1px;
    border-radius: 3px;
    font-size: larger;
    cursor: pointer;
  
}
.banner-photo {
    align-self: center;
    
}

.banner-photo-item {
    width: 550px;
    box-shadow: 0 20px 20px -20px #000;
    
}
.container {
    border: solid red 2px;
    display: flex;
    margin-top: 3%;
}
.container-left {
    border: solid blue 2px;
    width: 50%;
}
.container-left-photo {
    height: 150px;
    width: 450px;
    background-image: url(./Fotot/Healthylifestyle1.jpeg);
    background-size: cover;
}
.container-right {
    border: solid blue 2px;
    width: 50%;
}
.container-right-items {
    border: solid greenyellow 2px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.container-right-photo1 {
    height: 80px;
    width: 120px;
    background-image: url(./Fotot/PhysycalActivity1.jpg);
    background-size: cover;
}
.container-right-photo2 {
    height: 80px;
    width: 120px;
    background-image: url(./Fotot/HealthyFood1.jpg);
    background-size: cover;
}
.container-right-photo3 {
    height: 80px;
    width: 120px;
    background-image: url(./Fotot/HealthySleep1.jpg);
    background-size: cover;
}
.container-right-items-tekst {
    margin-left: 2%;   
}
.container-right-items-title {
    font-size: 1rem;
    cursor: pointer;
}
.container-items-teks-author {
    color: #6c757d;
    font-size: 85%;
    font-weight: 400;
    margin-left: 2%;
}
}