* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.content-center{
    max-width: 1400px;
    margin: auto;
    height: 100%;
    padding: 0 40px;
}
.pv-40px {
    padding-bottom: 40px;
    padding-top: 40px;
}
.vh-60 {
    height: 60vh;   
}
.icon-menu-item
{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  border-radius: 6px;
 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.pagename {
    margin-left: 10px;
    font-size: 35px;    
}

.logo-social {
    display: flex;
    width: 8%;
    justify-content: space-between;
}
.wrapper-icon-pagename {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.logo-social-item {
    width: 20px;
    cursor: pointer;
    
}
.logo-social-item:hover {
    background-color: black;
}
.banner {
    background-color: #f5f5f5;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner-items {
    
    justify-content: space-evenly;
    width: 650px;
    margin-right: 10%;
}
.banner-item-news {
    margin-top: 5%;
    border: 1px solid #dff3e2;
    color: #19a52c;
    background-color: #dff3e2;
    width: 80px;
    margin-left: 2%;
    padding: 5px;
    text-align: center;
    
}
.banner-item-title {
    margin-top: 3%;
    font-size: xx-large;
}
.banner-item-text {   
    margin-top: 3%;
}
.banner-item-button {
    text-align: center;
    margin-top: 8%;
    color: #fff;
    background: #2196f3;
    width: 250px;
    padding: 10px;
    border-radius: 3px;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    border: 0;
}

.banner-item-button::before{ 
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    transform: translate(0px,-100%);
    transition:transform 0.2s ease-in;
}
.banner-item-button-txt {
    position: relative;
    z-index: 1;
}
.banner-item-button:hover::before{
    transform: translate(0px,0px);

}
.link-button{
    text-decoration: none;
    color: white;
}
.banner-photo {
    align-self: center;
    width: 50%;
}

.banner-photo-item {
    width: 100%;
    box-shadow: 0 20px 20px -20px #000;

    
}
.container {
    display: flex;
}
.container-left {
    width: 50%;
}
.container-left-photo {
    height: 150px;
    width: 450px;
    background-image: url(./Fotot/Healthylifestyle1.jpeg);
    background-size: cover;
}
.container-right {
    width: 50%;
    margin-left: 2%;
}
.container-right-items {
    
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 1%;
    
    border-bottom:1px solid #f5f5f5;
}
.container-right-photo1 {
    height: 80px;
    width: 120px;
    background-image: url(./Fotot/PhysycalActivity1.jpg);
    background-size: cover;
}
.container-right-photo2 {
    height: 80px;
    width: 120px;
    background-image: url(./Fotot/HealthyFood1.jpg);
    background-size: cover;
}
.container-right-photo3 {
    height: 80px;
    width: 120px;
    background-image: url(./Fotot/HealthySleep1.jpg);
    background-size: cover;
}
.container-right-items-tekst {
    margin-left: 2%;   
}
.container-items-teks-title {
    font-size: 1rem;
    cursor: pointer;
    
}
.container-items-teks-author {
    color: #6c757d;
    font-size: 85%;
    font-weight: 400;
    margin-left: 2%;
}
.link-title {
    text-decoration: none;
    color: black;
}
.container2 {
    background-color:#f5f5f5 ;
}
.container2-wrapper {
    display: flex;
    gap: 20px;
}
.container2-txt {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
}
.container2-txt-pharagraph {
    margin-top: 2%;
}
.container2-txt-list {
    margin-top: 1%;
    margin-left: 5%;
}
.container2-video {
    display: flex;
    width: 50%;
    
    align-items: center;
}
.container2-video-item {
    cursor: pointer;
    width: 100%;
}
.container3 {
   
}
.container3-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.container3-txt-high {
    color: brown;
    font-size: xx-large;
}
.container3-subform {
    margin-top: 2%;
    
}
.container3-photo {
    width: 400px;
    height: 200px;
    background-image: url(./Fotot/docotrinfosubbutton1.jpg);
    background-size: cover;
    border-radius: 35px;
    box-shadow: 0 20px 20px -20px #000;
}
.container3-subform-button {
    color: #fff;
    background: #2196f3;
    width: 250px;
    padding: 10px;
    font-size: larger;
    cursor: pointer;
    border: 0;
}
.container3-subform-button:hover {
    background-color: black;
}
.container3-subform-input {
    width: 380px;
    padding: 9px;
    font-size: larger;
    border: 1px solid #ebd6b7;
}
.container3-txt-low{
    margin-top: 2%;
}
.footer {
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.footer-items {
    
    
}
.footer-items-title {
    margin-top: 15px;
}
.footer-items-txt {
    margin-top: 30px;
}


