* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}
.container-registerform {
    background:#fff;
    width: 680px;
    height: 670px;
    padding: 57px 65px;
    padding-bottom: 65px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}
.registerform-title {
    margin-bottom: 30px;
    font-size: xx-large;
}
.container-registerform-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container-items-space {
    display: flex;
}
.row-space {
    width: 100%;
    margin-top: 20px;
}
.registerform-input-gander {
    margin-right: 50px;
}
.registerform-input {
    width: 250px;
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: larger;
}
.container-registerform-citizenship {
    margin-top: 20px;
    width: 100%;
}
.registerform-citizenship
{
    margin-top: 10px;
    width: 527px;
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: larger;
}
.container-registerform-button {
    margin-top: 5%;
}
.registerform-button {
    width: 150px;
    padding: 15px;
    border-radius: 27px;
    font-size: larger;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: 0;
    transition: 0.5s;
    
    
}
.registerform-button:hover {
    background-color:green ;
}