* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
  .content-center{
    max-width: 1400px;
    margin: auto;
    height: 100%;
    padding: 0 40px;
}
.icon-menu-item{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  border-radius: 6px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.pagename {
    margin-left: 10px;
    font-size: 35px;    
}
.logo-social {
    display: flex;
    width: 8%;
    justify-content: space-between;
}
.wrapper-icon-pagename {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.logo-social-item {
    width: 20px;
    cursor: pointer;
}
.body {
    width: 100%;
    background: #ebebeb;
    display: flex;
    min-height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner {
    width: 85%;
    background: white;
    border-radius: 10px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-right: 3px solid #ebebeb;
}
.content-adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.content-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-adress {
   width: 35px;
   height: 35px;
   cursor: crosshair;
}
.icon-adress:hover {
    background-color: #ebebeb;
}
.icon-phone {
    width: 35px;
    height: 35px;
    margin-top: 20px;
    cursor: crosshair;
}
.icon-phone:hover {
    background-color: #ebebeb;
} 
.icon-email {
    width: 35px;
    height: 35px;
    margin-top: 20px;
    cursor: crosshair;
}
.icon-email:hover {
    background-color: #ebebeb;
}
.title {
    font-size: 18px;
    font-weight: 500;
    cursor: s-resize;
}
.text1 {
    font-size: 14px;
    color: #afafb6;
    cursor: text;
}
.text2 {
    font-size: 14px;
    color: #afafb6;
    cursor: text;
}
.content-right-side {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 75px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.content-right-side-title {
    font-size: 23px;
    font-weight: 600;
    color: black;
}
.content-right-side-text {
    font-size: 14px;
    color: #afafb6;
}
.input-box {
    height: 50px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    background: #ebebeb;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
    cursor: text;
}
.input-box-message-box {
    min-height: 110px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    padding: 0 15px;
    border: none;
    background: #ebebeb;
    border-radius: 6px;
    padding-top: 10px;
    cursor: text;
}
.button {
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.button:hover {
    background-color: #ebebeb;
    color: black;
    transition: all 1s;
}
.error-hint {
    font-size: 10px;
    color: red;
    margin-left: 10px;
    display: none;
}