* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.content-center{
    max-width: 87.5rem;
    margin: auto;
    height: 100%;
    padding: 0 2.5rem;
}

.headconteiner {
    display: flex;
    justify-content: space-around;
    height: 56.25rem;
}
.colorcontainer1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:35.938rem;
    background-color:  #a9c2da;
}
.conteinerwrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2.2rem;
    margin-right: 5rem;
}
.FirstPicture1 {
    background-image: url(../Fotot/doctorboy1.jpg);
    background-size: cover;
    display: block;
    position: relative;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
    width: 26.875rem;
    height: 40rem;
    margin-top:1.8rem;
    right: 75%;
}
.SecondPicture2 {
    background-image: url(../Fotot/doctorgirl1.jpg);
    background-size: cover;
    display: block;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
    width: 23.75rem;
    height: 31.875rem;
    margin-top: 22rem;
    position: absolute;
}
.TextofAboutUs {
    width: 31.25rem;
    height: 25rem;
    background-color: #4d5a65;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 5.5rem;
    position: absolute;
    top: 10%;
    left: 55%;
}
.TestAboutUsColor1 {
    color: white;
    font-weight: 700;
    font-size: 3rem;
}
.TestAboutUsColor2 {
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
}
.TestAboutUsColor3 {
    margin-top: 1rem;
    color: white;
    font-size: 0.8rem;
}
.TextofAboutUs-Button {
    width: max-content;
    margin-top: 3rem;
    color: white;
    background-color: #4d5a65;
    padding: 0.5rem;
    border: solid white 2px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
}
.TextofAboutUs-Button-link {
    text-decoration: none;
    color: white;
}
.TextofAboutUs-Button-link:hover {
    color: #4d5a65;
}
.TextofAboutUs-Button:hover {
    background-color: white;
    color: #4d5a65;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
}
.footer-items-title {
    margin-top: 0.938rem;
}
.footer-items-txt {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.foter-item-txt-link {
    text-decoration: none;
    color: black;
}


/* Desktop small */
@media screen and (max-width: 992px) {

}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 0.75rem;
    }

}
/* Mobile */
@media screen and (max-width: 576px) {
    html {
        font-size: 0.6rem;
    }
}


