* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.content-center{
    max-width: 87.5rem;
    margin: auto;
    height: 100%;
    padding: 0 2.5rem;
}
.pv-40px {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
.vh-60 {
    height: 60vh;   
}
.banner {
    background-color: #f5f5f5;
}

.banner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner-items {
    
    justify-content: space-evenly;
    width: 40.625rem;
    margin-right: 10rem;
}
.banner-item-news {
    margin-top: 3rem;
    border: 1px solid #dff3e2;
    color: #19a52c;
    background-color: #dff3e2;
    width: 5rem;
    margin-left: 1rem;
    padding: 0.313rem;
    text-align: center;
    
}
.banner-item-title {
    margin-top: 1.2rem;
    font-size: 2rem;
}
.banner-item-text {   
    margin-top: 1.2rem;
}
.banner-item-button {
    text-align: center;
    margin-top: 3rem;
    color: #fff;
    background: #2196f3;
    width: 15.625rem;
    padding: 0.625rem;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    border: 0;
}

.banner-item-button::before{ 
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    transform: translate(0px,-100%);
    transition:transform 0.2s ease-in;
}
.banner-item-button-txt {
    position: relative;
    z-index: 1;
}
.banner-item-button:hover::before{
    transform: translate(0px,0px);

}
.link-button{
    text-decoration: none;
    color: white;
}
.container {
    display: flex;
    align-items: center;
}
.container-left {
    width: 50%;
}
.container-left-photo {
    height: 9.375rem;
    width: 28.125rem;
    background-image: url(../Fotot/Healthylifestyle1.jpeg);
    background-size: cover;
}
.container-right {
    width: 50%;
    margin-left: 1rem;
}
.container-right-items {
    
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    
    border-bottom:1px solid #f5f5f5;
}
.container-right-photo1 {
    height: 5rem;
    width: 7.5rem;
    background-image: url(../Fotot/PhysycalActivity1.jpg);
    background-size: cover;
}
.container-right-photo2 {
    height: 5rem;
    width: 7.5rem;
    background-image: url(../Fotot/HealthyFood1.jpg);
    background-size: cover;
}
.container-right-photo3 {
    height: 5rem;
    width: 7.5rem;
    background-image: url(../Fotot/HealthySleep1.jpg);
    background-size: cover;
}
.container-right-items-tekst {
    margin-left: 1rem;   
}
.container-items-teks-title {
    font-size: 1rem;
    cursor: pointer;
    
}
.container-items-teks-author {
    color: #6c757d;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 1rem;
}
.link-title {
    text-decoration: none;
    color: black;
}
.container2 {
    background-color:#f5f5f5 ;
}
.container2-wrapper {
    display: flex;
    gap: 20px;
}
.container2-txt {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50%;
}
.container2-txt-pharagraph {
    margin-top: 1rem;
}
.container2-txt-list {
    margin-top: 0.5rem;
    margin-left: 3rem;
}
.container2-video {
    display: flex;
    width: 50%;
    align-items: center;
}
.container2-video-item {
    cursor: pointer;
    width: 100%;
}
.container3-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.container3-txt-high {
    color: brown;
    font-size: 2rem;
}
.container3-subform {
    margin-top: 1rem;
    
}
.container3-photo {
    width: 25rem;
    height: 12.5rem;
    background-image: url(../Fotot/docotrinfosubbutton1.jpg);
    background-size: cover;
    border-radius: 35px;
    box-shadow: 0 20px 20px -20px #000;
}
.container3-subform-button {
    color: #fff;
    background: #2196f3;
    width: 15.625rem;
    padding: 0.625rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0;
}
.container3-subform-button:hover {
    background-color: black;
}
.container3-subform-input {
    width: 23.75rem;
    padding: 0.563rem;
    font-size: 1.2rem;
    border: 1px solid #ebd6b7;
}
.container3-txt-low{
    margin-top: 1rem;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.footer-items-title {
    margin-top: 0.938rem;
}
.footer-items-txt {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.foter-item-txt-link {
    text-decoration: none;
    color: black;
}
/* Desktop small */
@media screen and (max-width: 992px) {

}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 0.75rem;
    }
    .container{
        flex-direction: column;
        align-items: unset;

    }
    .container-left{
        width: 100%;
    }
    .container-right{
        width: 100%;
    }
    .vh-60{
        height: auto;
    }
    .banner-item-button{
        width: 11.625rem;
        padding: 0.9rem;
        font-size: 0.9rem;
        margin-top: 1rem;
    }
    .container3-subform-button{
        width: 22.75rem;
    }
    .container3-subform-input{
        width: 22.75rem;
    }
    .container3-wrapper{
        flex-direction: column;
    }
}
/* Mobile */
@media screen and (max-width: 576px) {
    html {
        font-size: 0.6rem;
    }
}


