* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}
.container-loginform {
    background:#fff;
    width: 35rem;
    height: 35rem;
    padding-right: 5.313rem;
    padding-left: 5.313rem;
    padding-top: 3.438rem;
    padding-bottom: 3.438rem;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    
}
.container-loginform-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.loginform-title {
    font-size: 2rem;
    
}
.loginform-input {
    width: 100%;
    height: 3.438rem;
    font-size: 1.125rem;
    padding: 0 1.563rem;
    
}
.loginform-emailpassword {
    margin-top: 1.875rem;
    margin-bottom: 0.313rem;
    font-size: 0.8rem;

}
.loginform-checkbox {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 0.8rem;
    color: grey;
    margin-top: 0.625rem;
}
.container-loginform-button {
    margin-top: 4rem;
}
.loginform-button {
    width: 9.375rem;
    padding: 0.938rem;
    border-radius: 27px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: 0;
    transition: 0.5s;
    
    
}
.loginform-button:hover {
    background-color:green ;
}
.error {
    color: red;
    font-size: 0.8rem;
}
/* Desktop small */
@media screen and (max-width: 992px) {

}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 0.75rem;
    }
}
/* Mobile */
@media screen and (max-width: 576px) {
    html {
        font-size: 0.6rem;
    }
    .loginform-input {
        height: 2.6rem;
    }
}


