/* * {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} */

.content-center{
    max-width: 62.5rem;
    margin: auto;
    height: 100%;
    padding: 0 5rem;
}
.mainconteiner {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.contentrow {
    display: flex;
    justify-content: space-around;
    margin-top: 1.563rem;
}
.contentcontainer {
    border-radius: 10px;
    height: 15.625rem;
    width: 18.75rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 20%);
}
.contenttext {
    font-size: 1rem;
    cursor: pointer;
}
.link-title {
    text-decoration: none;
    color: black;
}
.ccfirst {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/shtatzania.jpg);
    background-size: cover;
    border-radius: 10px;
}
.ccsecond {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/ushqimi.jpg);
    background-size: cover;
    border-radius: 10px;
}
.ccthird {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/gjumi.jpg);
    background-size: cover;
    border-radius: 10px;
}
.cc2first {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/eyenews.jpg);
    background-size: cover;
    border-radius: 10px;
}
.cc2second {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/president-bidennews.jpg);
    background-size: cover;
    border-radius: 10px;
}
.cc2third {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/lab-researchnews.jpg);
    background-size: cover;
    border-radius: 10px;
}
.cc3first {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/medication-pfizer3news.jpg);
    background-size: cover;
    border-radius: 10px;
}
.cc3second {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/susan-lucci3news.jpg);
    background-size: cover;
    border-radius: 10px;
}
.cc3third {
    height: 12.5rem;
    width: 18.75rem;
    background-image: url(../fotot/ivermectin3news.jpg);
    background-size: cover;
    border-radius: 10px;
}
.foter-item-txt-link {
    text-decoration: none;
    color: black;
}
/* Desktop small */
@media screen and (max-width: 992px) {

}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 0.75rem;
    }

}
/* Mobile */
@media screen and (max-width: 576px) {
    html {
        font-size: 0.6rem;
    }
}
