* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.mb-30px {
    margin-bottom: 1.875rem;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}
.container-registerform {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    background:#fff;
    width: 42.5rem;
    padding: 3.563rem 4.063rem;
    padding-bottom: 4.063rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}
.registerform-title {
    margin-bottom: 1.875rem;
    font-size: 2rem;
}
.container-registerform-items {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container-items-space {
    display: flex;
}
.row-space {
    width: 100%;
    margin-top: 1.25rem;
}
.registerform-input-gander {
    margin-right: 3.125rem;
}
.registerform-input {
    width: 15.625rem;
    height: 3.125rem;
    padding: 0 1.25rem;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1.2rem;
}
.container-registerform-citizenship {
    margin-top: 1.25rem;
    width: 100%;
}
.registerform-citizenship
{
    margin-top: 0.625rem;
    width: 32.938rem;
    height: 3.125rem;
    padding: 0 1.25rem;
    border-radius: 5px;
    border: 1px solid gray;

    font-size: 1.2rem;
}
.container-registerform-button {
    margin-top: 3rem;
}
.registerform-button {
    width: 9.375rem;
    padding: 15px;
    border-radius: 27px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: 0;
    transition: 0.5s;
    
    
}
.registerform-button:hover {
    background-color:green ;
}
.error {
    font-size: 0.8rem;
    color: red;
}
/* Desktop small */
@media screen and (max-width: 992px) {

}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 0.75rem;
    }
}
/* Mobile */
@media screen and (max-width: 576px) {
    html {
        font-size: 0.6rem;
    }
    
   
}