.slider-container {
    width: 43.75rem;
    height: 21.875rem;
    background: url(../Fotot/covid19-img.jpg);
    background-size: cover;
    box-shadow: 0.313rem 0.625rem 0.813rem #888888;
    margin: 6.25rem auto;
    animation: slide 15s 0s infinite;

    /* animation-duration: 25s;
    animation-name: slide;
    animation-delay: 0;
    animation-iteration-count: infinite; */
}

@keyframes slide {

    25%{
        background: url(../Fotot/Covid-19-Consumer.png);
        background-size: cover;
    }

    50%{
        background: url(../Fotot/blue-covid-19-1400x693_0.jpg);
        background-size: cover;
    }

}
/* Tablet */
@media screen and (max-width: 768px) {
    .slider-container{
        width: 50rem;
        height: 14.875rem;
    }
}
/* Mobile */
@media screen and (max-width: 576px) {
    .slider-container{
        width: 45rem;
        height: 10.875rem;
    }
}
